/* line 5, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  display: none; }

/* line 13, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.clear {
  clear: both; }

/* line 19, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5em;
  text-align: center;
  padding: 0 0 10px;
  margin: 0; }

/* line 29, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
h2 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 2.5em; }

/* line 37, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
h3 {
  font-size: 1.5em;
  padding: 0 0 10px;
  margin: 0; }
  /* line 43, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  h3 .fa {
    font-size: .8em;
    transition: 0.5s; }

/* line 52, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
p {
  text-indent: 50px;
  font-size: 1.2em; }

/* line 59, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.lead {
  text-indent: 0; }

/* line 65, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
#loadingDiv {
  text-align: center;
  padding: 30px 0; }

/* line 72, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
#navi {
  text-align: center;
  padding-top: 30px; }

/* line 79, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.naviBar {
  margin: 0;
  padding: 00;
  font-size: 2em; }
  /* line 85, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .naviBar a {
    color: #333; }
    /* line 89, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    .naviBar a:hover {
      text-decoration: none; }
  /* line 97, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .naviBar li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer; }
    /* line 104, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    .naviBar li:hover {
      border-bottom: 2px solid #333; }
  /* line 112, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .naviBar .active {
    border-bottom: 2px solid #333; }

/* line 120, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.mobileMenu {
  display: none; }

/* line 126, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.menuTrigger {
  cursor: pointer; }

/* line 132, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.naviMenu {
  margin: 0;
  padding: 0;
  display: none;
  font-size: 1.3em;
  border: 1px solid #ddd;
  width: 80%;
  margin: 0 auto; }
  /* line 142, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .naviMenu a {
    color: #333; }
    /* line 146, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    .naviMenu a:hover {
      text-decoration: none; }
  /* line 154, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .naviMenu li {
    list-style: none;
    margin: 10px 20px;
    cursor: pointer; }
    /* line 160, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    .naviMenu li:hover {
      text-decoration: underline; }
  /* line 168, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .naviMenu .active {
    text-decoration: underline; }

/* line 178, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.line {
  width: 70%;
  border-bottom: 1px solid #ddd;
  display: block;
  margin: 0 auto;
  padding: 5px 0 10px; }

/* line 188, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.coverImgWrapper {
  text-align: center;
  padding: 50px; }

/* line 195, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.coverImg {
  width: 500px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75); }

/* line 204, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
#footer {
  text-align: center;
  padding: 20px 0; }
  /* line 209, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  #footer i {
    padding: 0 10px; }
  /* line 215, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  #footer a {
    color: #333;
    transition: 0.5s; }
    /* line 220, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    #footer a:hover {
      color: #adadad; }

/* line 230, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.credit {
  text-indent: 0px;
  padding-top: 5px;
  font-size: .8em;
  color: #333; }
  /* line 237, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .credit a {
    color: inherit; }

/* line 245, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
#gallery {
  text-align: center; }

/* line 251, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.galleryImg {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
  text-align: left;
  transition: 0.3s; }
  /* line 262, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .galleryImg img {
    width: 100%;
    position: absolute;
    transition: 0.5s; }
    /* line 268, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    .galleryImg img:hover {
      width: 105%; }

/* line 278, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
.contactForm {
  width: 50%;
  display: block;
  margin: 0 auto; }
  /* line 284, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .contactForm label, .contactForm input[type="text"], .contactForm textarea {
    display: block;
    width: 100%; }
  /* line 291, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .contactForm input, .contactForm textarea {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    background-color: white; }
  /* line 299, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .contactForm textarea {
    height: 200px; }
  /* line 305, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .contactForm input[type="submit"] {
    font-weight: bold; }
    /* line 309, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    .contactForm input[type="submit"]:hover, .contactForm input[type="submit"]:active {
      background-color: #dddddd; }
    /* line 315, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
    .contactForm input[type="submit"]:focus {
      background-color: #a0a0a0; }

/* ===== MEDIA QUERIES ===== */
@media (max-width: 709px) {
  /* line 329, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .coverImg {
    width: 100%; }
  /* line 335, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .naviBar {
    display: none; }
  /* line 341, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .mobileMenu {
    display: block; }
  /* line 347, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  .contactForm {
    width: 100%; } }

@media (max-width: 393px) {
  /* line 357, C:/Users/awinnett/Downloads/Websites/ReserPhotography/assets/css/style.scss */
  h1 {
    font-size: 2em; } }

/*# sourceMappingURL=style.css.map */